* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header {
    border-bottom: 1px solid black;
    display: flex;
    width: 100vw;
    height: 100px;
    position:relative;
}

.header div {
    background-color: aquamarine;
    left: 50px;
    top: 50%;
    position: absolute;
}
ul {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
ul, li {
    list-style: none;
}

#content {
    display:flex;
    justify-content: center;
}

.main-text{
    margin: 400px 200px 0px 0px;

}
.main-image{
    border: 2px solid black;
    border-radius: 3%;
    width: 300px;
    height: 500px;
    margin-top: 200px;
}